* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Roboto; }

.clearFix:before,
.clearFix:after {
  content: " ";
  display: table; }

.clearFix:after {
  clear: both; }

header {
  width: 100%;
  position: fixed;
  height: 90px;
  z-index: 5; }
  header .container {
    top: 0;
    max-width: 1800px;
    margin: 0 auto;
    text-align: center; }
    header .container .clearFix {
      position: relative; }
      header .container .clearFix .arcImg {
        margin: 17px;
        position: absolute; }
        header .container .clearFix .arcImg img {
          width: 140px;
          height: 60px; }
      header .container .clearFix ul {
        position: absolute;
        right: 0;
        top: 0;
        list-style-type: none; }
        header .container .clearFix ul li {
          display: inline-block; }
          header .container .clearFix ul li a {
            height: 50px;
            padding: 0 20px;
            display: block;
            color: #a2a2a2;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 50px;
            transition: 0.2s; }
            header .container .clearFix ul li a:hover {
              color: #126dff; }

.firstPage .onImgElements {
  background-image: url(../img/paralax_photo.jpg);
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.8); }
  .firstPage .onImgElements p:first-child {
    margin: 0;
    padding-top: 50vh;
    height: 59px;
    font-size: 61.5px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    z-index: 10; }
    .firstPage .onImgElements p:first-child span:first-child {
      color: #1f69df; }
  .firstPage .onImgElements p:nth-child(2) {
    font-size: 20px;
    padding-top: 50px;
    text-align: center;
    color: #ffffff; }
  .firstPage .onImgElements div {
    text-align: center; }
    .firstPage .onImgElements div a {
      text-decoration: none;
      color: #e5e5e5;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      border-radius: 28px;
      padding: 10px 20px 10px 20px;
      font-size: 20px;
      border: 0;
      background-color: #0b4fbc;
      text-align: center;
      transition: 0.2s; }
      .firstPage .onImgElements div a:hover {
        background-color: #e5e5e5;
        color: #0b4fbc; }

.secoundPage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: #bdbdbd; }
  .secoundPage .firstBox {
    width: 50%; }
    .secoundPage .firstBox .insideBox {
      margin: auto;
      width: 460px; }
      .secoundPage .firstBox .insideBox p:first-child {
        font-size: 90px;
        font-weight: 100; }
      .secoundPage .firstBox .insideBox p:last-of-type {
        font-size: 16px; }
      .secoundPage .firstBox .insideBox .btn {
        text-align: left;
        padding-top: 150px; }
        .secoundPage .firstBox .insideBox .btn a {
          text-decoration: none;
          color: #e5e5e5;
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          border-radius: 28px;
          padding: 10px 20px 10px 20px;
          font-size: 20px;
          border: 0;
          background-color: #0b4fbc;
          text-align: center;
          transition: 0.2s; }
          .secoundPage .firstBox .insideBox .btn a:hover {
            background-color: #e5e5e5;
            color: #0b4fbc; }
  .secoundPage .secoundBox {
    margin-top: 200px;
    display: flex;
    align-items: center;
    width: 50%; }
    .secoundPage .secoundBox .insideBoxOne {
      width: 50%;
      text-align: right; }
      .secoundPage .secoundBox .insideBoxOne p:first-child {
        font-size: 50px;
        color: #1f69df;
        font-weight: 100; }
    .secoundPage .secoundBox .insideBoxTwo {
      width: 50%; }
      .secoundPage .secoundBox .insideBoxTwo .imgElo {
        background-image: url(../img/shape-1-copy-3.svg);
        width: 100%;
        height: 500px;
        margin-top: 120px;
        background-position: right;
        background-repeat: no-repeat; }

.thirdPage {
  display: flex;
  height: 100vh; }
  .thirdPage .paralaxImg {
    background-image: url(../img/paralax_photo.jpg);
    height: 100vh;
    width: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; }
  .thirdPage .education {
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 150px;
    color: #d3d3d3;
    width: 50%; }
    .thirdPage .education p:first-child {
      font-size: 90px;
      font-weight: 100; }
    .thirdPage .education p:nth-child(2) {
      color: #7b7b7b;
      font-size: 40px;
      font-weight: 300; }
      .thirdPage .education p:nth-child(2) span:nth-child(2) {
        color: #1f69df; }
    .thirdPage .education p:nth-child(3) {
      color: #979797; }
      .thirdPage .education p:nth-child(3) span {
        color: #1f69df; }
    .thirdPage .education .btn {
      text-align: left;
      padding-top: 5%; }
      .thirdPage .education .btn a {
        text-decoration: none;
        color: #e5e5e5;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 28px;
        padding: 10px 20px 10px 20px;
        font-size: 20px;
        border: 0;
        background-color: #0b4fbc;
        text-align: center;
        transition: 0.2s; }
        .thirdPage .education .btn a:hover {
          background-color: #e5e5e5;
          color: #0b4fbc; }

.fourthPage {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }
  .fourthPage .sliderImg {
    width: 50%;
    display: flex;
    align-items: center; }
    .fourthPage .sliderImg img {
      width: 100%; }
  .fourthPage .expirience {
    width: 50%;
    display: flex;
    align-items: center; }
    .fourthPage .expirience .boxA {
      padding: 0 0 0 50px; }
      .fourthPage .expirience .boxA p {
        max-width: 450px;
        font-weight: 100; }
      .fourthPage .expirience .boxA p:first-child {
        color: #d3d3d3;
        font-size: 90px;
        margin-top: 0; }
      .fourthPage .expirience .boxA p:nth-child(2) {
        margin-top: 0;
        font-size: 30px;
        color: #1b181b; }
      .fourthPage .expirience .boxA p:nth-child(3) {
        font-size: 13;
        color: #d2d2d2; }
        .fourthPage .expirience .boxA p:nth-child(3) span {
          color: #1f69df; }
      .fourthPage .expirience .boxA p:nth-child(4) {
        font-size: 15px;
        max-width: 400px;
        color: #bcbcbc; }
  .fourthPage .tagsLogsImg {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap; }
    .fourthPage .tagsLogsImg img {
      max-width: 900px;
      margin: auto; }

.fifthPage {
  display: flex;
  flex-wrap: wrap;
  height: 100vh; }
  .fifthPage .service {
    width: 100%; }
    .fifthPage .service p {
      font-size: 90px;
      font-weight: 100;
      color: #d3d3d3;
      margin: 150px 0 0 5%; }
  .fifthPage .wholeBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .fifthPage .wholeBox .prototyping {
      width: 26.66%;
      margin: 0 0 0 5%; }
      .fifthPage .wholeBox .prototyping img {
        position: absolute; }
      .fifthPage .wholeBox .prototyping p {
        margin-left: 60px;
        color: #bdbdbd;
        max-width: 320px; }
      .fifthPage .wholeBox .prototyping p:nth-child(2) {
        color: #5d5d5d; }
    .fifthPage .wholeBox .mobile {
      width: 26.66%;
      margin: 0 0 0 5%; }
      .fifthPage .wholeBox .mobile img {
        position: absolute; }
      .fifthPage .wholeBox .mobile p {
        margin-left: 60px;
        color: #bdbdbd;
        max-width: 320px; }
      .fifthPage .wholeBox .mobile p:nth-child(2) {
        color: #5d5d5d; }
    .fifthPage .wholeBox .artificial {
      width: 26.66%;
      margin: 0 5% 0 5%; }
      .fifthPage .wholeBox .artificial img {
        position: absolute; }
      .fifthPage .wholeBox .artificial p {
        margin-left: 70px;
        color: #bdbdbd;
        max-width: 320px; }
      .fifthPage .wholeBox .artificial p:nth-child(2) {
        color: #5d5d5d; }
    .fifthPage .wholeBox .langue {
      display: flex;
      align-items: center;
      margin: 0 auto; }
      .fifthPage .wholeBox .langue img {
        margin: 0 40px; }

.sixthPage {
  background-image: url(../img/Depositphotos_76413377_original.jpg);
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.8); }
  .sixthPage .text {
    padding-top: 5%;
    max-width: 800px;
    margin: auto;
    text-align: center; }
    .sixthPage .text p:first-child {
      font-size: 90px;
      color: #d3d3d3;
      font-weight: 100; }
    .sixthPage .text p:nth-child(2) {
      color: #adadad;
      font-size: 15px;
      font-weight: 300; }
    .sixthPage .text .btn {
      padding-top: 5%; }
      .sixthPage .text .btn a {
        text-decoration: none;
        color: #e5e5e5;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 28px;
        padding: 10px 20px 10px 20px;
        font-size: 20px;
        border: 0;
        background-color: #0b4fbc;
        text-align: center;
        transition: 0.2s; }
        .sixthPage .text .btn a:hover {
          background-color: #e5e5e5;
          color: #0b4fbc; }

.seventhPage {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  margin: auto; }
  .seventhPage .box {
    width: 100%;
    margin: 150px 5% 0; }
    .seventhPage .box .staffImg {
      background-image: url(../img/99930184.jpg);
      height: 340px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 900px;
      width: 100%;
      margin: auto; }
  .seventhPage .contactIfno {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    justify-content: space-between; }
    .seventhPage .contactIfno .contact {
      font-size: 90px;
      color: #d3d3d3;
      font-weight: 100;
      width: 25%; }
      .seventhPage .contactIfno .contact p {
        margin: 0; }
    .seventhPage .contactIfno .info {
      width: 25%; }
      .seventhPage .contactIfno .info ul li {
        list-style-type: none; }
      .seventhPage .contactIfno .info ul li:nth-child(1) p:nth-child(1) {
        font-size: 19px;
        color: #5d5d5d; }
      .seventhPage .contactIfno .info ul li:nth-child(2),
      .seventhPage .contactIfno .info ul li:nth-child(3) {
        font-size: 15px;
        color: #bdbdbd;
        font-weight: 300; }
    .seventhPage .contactIfno .person {
      width: 25%;
      font-size: 15px; }
      .seventhPage .contactIfno .person img {
        position: absolute; }
      .seventhPage .contactIfno .person p {
        margin-left: 65px; }
        .seventhPage .contactIfno .person p:nth-child(2) {
          color: #5d5d5d;
          margin-bottom: 2px;
          font-weight: 600; }
        .seventhPage .contactIfno .person p:nth-child(3) {
          color: #bdbdbd;
          margin-top: 0; }
        .seventhPage .contactIfno .person p:nth-child(4) {
          color: #bdbdbd;
          margin-top: 40px;
          margin-bottom: 2px; }
        .seventhPage .contactIfno .person p:nth-child(5) {
          margin-top: 0;
          color: #1f69df; }

/*# sourceMappingURL=style.css.map */
